<main class="container">
    <div class="row">
        {{#unless rooms}}
        <div class="col s12 center animated infinite slow bounce">
            <h4 class="">Oops, there are no rooms around here.</h4>
        </div>
        {{/unless}}
        {{#each rooms}}
        <div class="col s12 m4 xl3">
            <div class="card">
                <div class="card-image">
                    {{#if coverUrl}}
                    <img src="{{coverUrl}}">
                    {{else}}
                    <img src="/default/front-default.png">
                    {{/if}}
                    <a href="/room/id/{{_id}}" class="btn-floating halfway-fab waves-effect waves-light green"><i
                            class="material-icons">subdirectory_arrow_right</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title"><strong>{{name}}</strong></span>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>

<footer class="page-footer">
    <div class="container center">
        <div class="row">
            <div class="col s12">
                <ul class="pagination">
                    {{#if rooms}}

                    {{#compare page '==' 0}}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    {{else}}
                    <li class="waves-effect"><a href="{{subtract page 1}}"><i
                                class="material-icons">chevron_left</i></a></li>
                    {{/compare}}

                    {{#each pagesData}}
                    <li class="{{#is @index ../page}} active {{/is}}waves-effect blue"><a href="{{url}}">{{@index}}</a>
                    </li>
                    {{/each}}

                    {{#compare page '==' (subtract (length pagesData) 1)}}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    {{else}}
                    <li class="waves-effect"><a href="{{sum page 1}}"><i class="material-icons">chevron_right</i></a>
                    </li>
                    {{/compare}}

                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</footer>

{{#if findError}}
<script>
    window.addEventListener('load', () => {
        let toastHTML = '<span>{{findError}}</span><button class="btn-flat toast-action white-text">Ok</button>';
        M.toast({ html: toastHTML, classes: 'red animated shake' });
    });
</script>
{{/if}}