<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Import Animated CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatRoom</title>
</head>

<body>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    {{#if user.coverUrl}}
                    <img src="{{user.coverUrl}}">
                    {{else}}
                    <img src="/default/front-default.png">
                    {{/if}}
                </div>
                {{#if user.avatarUrl}}
                <a href="{{user.avatarUrl}}" target="_blank"><img id="sidenav-avatar" class="circle"
                        src="{{user.avatarUrl}}"></a>
                {{else}}
                <a href="/default/avatar-default.png" target="_blank"><img id="sidenav-avatar" class="circle"
                        src="/default/avatar-default.png"></a>
                {{/if}}
                <a href="/profile/id/{{user._id}}"><span class="white-text name">{{user.name}}</span></a>
                <address href="{{user.email}}"><span class="white-text email">{{user.email}}</span></address>
            </div>
        </li>
        <li><a class="waves-effect" href="/profile/id/{{user._id}}"><i
                    class="material-icons">person</i>{{user.name}}</a></li>
        <li><a href="/room/new" class="waves-effect"><i class="material-icons">create</i>Create room</a></li>
        <li><a href="/room/search" class="waves-effect"><i class="material-icons">find_in_page</i>Search room</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="/profile/id/{{user._id}}/config"><i
                    class="material-icons">build</i>Configuration</a></li>
        <li><a class="waves-effect" href="/logout"><i class="material-icons">person_outline</i>Logout</a></li>
    </ul>

    <ul id='room-options' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        {{#if myRoom}}
        <li><a href="#!">Config</a></li>
        {{/if}}
    </ul>

    <ul id='room-options-mobile' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        {{#if myRoom}}
        <li><a href="#!">Config</a></li>
        {{else}}
            {{#if favorite}}
            <li><a href="#!">add to favorites</a></li>
            {{else}}
            <li><a href="#!">remove from favorites</a></li>
            {{/if}}
        {{/if}}
    </ul>

    <div class="navbar-fixed">
        <nav class="indigo accent-3">
            <div class="nav-wrapper">
                <a href="" data-target="slide-out" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
                {{#if room}}
                <a href="/room/id/{{room._id}}" class="brand-logo center">{{room.name}}</a>
                {{else}}
                <a href="/" class="brand-logo center">Chat</a>
                {{/if}}
                <ul class="right hide-on-med-and-down">
                    <li><a href="/room/search"><i class="material-icons">search</i></a></li>
                    {{#if room }}
                    <li><a href="" class="bottom-btn"><i class="material-icons">arrow_downward</i></a></li>
                    <li><a class="dropdown-trigger" href='' data-target='room-options-mobile'><i
                                class="material-icons">more_vert</i></a></li>
                    {{/if}}
                </ul>
                <ul class="right hide-on-large-only">
                    {{#if room}}
                    <li><a href="" class="bottom-btn right"><i class="material-icons">arrow_downward</i></a></li>
                    <li><a class="dropdown-trigger" href='' data-target='room-options'><i
                                class="material-icons">more_vert</i></a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </div>

    <div id="preloader" class="bottom">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>

    {{{body}}}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="application/javascript" src="/js/index.js"></script>

</body>

</html>