<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Import Animated CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatRoom</title>
</head>

<body>

    <div class="navbar-fixed">
        <nav class="indigo accent-3">
            <div class="nav-wrapper container">
                <ul class="left">
                    <li><a href="" data-target="slide-out" class="sidenav-trigger"><i
                                class="material-icons">menu</i></a></li>
                </ul>
                <a href="/" class="brand-logo center">Chat</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/room/search"><i class="material-icons">search</i></a></li>
                    {{#if roomOn }}
                    <li><a href="" class="bottom-btn"><i class="material-icons">arrow_downward</i></a></li>
                    {{/if}}
                </ul>
                <ul class="right hide-on-large-only">
                    {{#if roomOn}}
                    <li><a href="" class="bottom-btn right"><i class="material-icons">arrow_downward</i></a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img
                        src="https://images.pexels.com/photos/1159343/pexels-photo-1159343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                </div>
                {{#if userData.avatarUrl}}
                <a href="{{userData.avatarUrl}}" target="_blank"><img class="circle" src="{{userData.avatarUrl}}"></a>
                {{else}}
                <a href="/default/avatar-default.png" target="_blank"><img class="circle" src="/default/avatar-default.png"></a>
                {{/if}}
                <a href="/profile/id/{{userData.id}}"><span class="white-text name">{{userData.name}}</span></a>
                <address href="{{userData.email}}"><span class="white-text email">{{userData.email}}</span></address>
            </div>
        </li>
        <li><a class="waves-effect" href="/profile/id/{{userData.id}}"><i class="material-icons">person</i>{{userData.name}}</a></li>
        <li><a href="/room/new" class="waves-effect"><i class="material-icons">create</i>Create room</a></li>
        <li><a href="/room/search" class="waves-effect"><i class="material-icons">find_in_page</i>Search room</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="/logout"><i class="material-icons">person_outline</i>Logout</a></li>
    </ul>

    <div id="preloader" class="bottom">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>

    {{{body}}}

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="application/javascript" src="/js/index.js"></script>

</body>

</html>